.card{
	margin-bottom: 30px;
}

.card-footer{
	padding: 0;
	background: white; 
	
}

.show-quantity{
	padding: 5px 0; 
	text-align: center;
}

.product-card-wrapper{
	border-radius: 5px;
}

.product-price{
	
}