<!-- 
<div
	*ngIf="product?.title"
	class="card" 
>
	<img 
		[src]="product.imageUrl"
		*ngIf="product.imageUrl"
		class="card-img-top" 
		alt="{{ product.title }}"
	>
	
	<div class="card-body">
		<h5 class="card-title">{{ product.title }}</h5>
		<p class="card-text">{{ product.price }}</p>
		
	</div>

	<div *ngIf="showActions && cart" class="card-footer">
		<button
			*ngIf="cart.getQuantity(product) === 0; else updateQuantity"
			class="btn btn-primary btn-block"
			(click)="addToCart()"
		>
			Add to Cart
		</button>

		<ng-template #updateQuantity>
			
			<product-quantity [product]="product" [cart]="cart"></product-quantity>

		</ng-template>

	</div>

</div> 

-->


<div 
	*ngIf="product?.title"
	class="block1 product-card"
>
	
	<div class="block1-bg wrap-pic-w bo-all-1 bocl12 hov3 trans-04 product-card-wrapper">
		<div class="title-block txt-center p-t-20">
			<a href="product-single.html" class="txt-m-103 cl3 txt-center hov-cl10 trans-04 js-name-b1">
				{{ product.title }}
			</a>
		
			<div class="product-price block1-content-more txt-m-104 cl9 p-t-21 trans-04">
				{{ product.price | currency:'USD':'symbol' }}
			</div>
		</div>

		<img 
			[src]="product.imageUrl"
			*ngIf="product.imageUrl"
			class="card-img-top" 
			alt="{{ product.title }}"
		>

		<div class="block1-content flex-col-c-m p-b-46">
			

			<!-- <div *ngIf="showActions && cart" class="card-footer">
					<button
						*ngIf="cart.getQuantity(product) === 0; else updateQuantity"
						class="btn btn-primary btn-block"
						(click)="addToCart()"
					>
						Add to Cart
					</button>
			
					<ng-template #updateQuantity>
						
						<product-quantity [product]="product" [cart]="cart"></product-quantity>
			
					</ng-template>
			
			</div> -->

			<div 
				*ngIf="showActions && cart"
				class="block1-wrap-icon flex-c-m flex-w trans-05"
			>

				<button 
					*ngIf="cart.getQuantity(product) === 0; else updateQuantity"
					(click)="addToCart()"
					class="block1-icon flex-c-m wrap-pic-max-w js-addcart-b1">
					
					<img src="assets/images/icons/icon-cart.png" alt="ICON">
				
				</button>

				<ng-template #updateQuantity>
						
					<product-quantity [product]="product" [cart]="cart"></product-quantity>
		
				</ng-template>

			</div>
		</div>
	</div>
</div>