<!-- <div class="row">

	<div class="col-3">
		<product-filter [category]="category"></product-filter>
	</div>

	<div class="col">

		<div class="row" *ngIf="shoppingCart$ | async as shoppingCart">
			
			<ng-container *ngFor="let p of filteredProducts; let i = index">
				
				<div class="col">

					<product-card [product]="p" [cart]="shoppingCart"></product-card>

				</div>	

				<div class="w-100" *ngIf="(i + 1) % 3 === 0"></div>

			</ng-container>
			
		</div>

	</div>

</div>
 -->

<!-- Title page -->
<section class="how-overlay2 bg-img1" style="background-image: url(assets/images/bg-07.jpg);">
	<div class="container">
		<div class="txt-center p-t-160 p-b-165">
			<h2 class="txt-l-101 cl0 txt-center p-b-14 respon1">
				shop
			</h2>

			<span class="txt-m-201 cl0 flex-c-m flex-w">
				<a href="index.html" class="txt-m-201 cl0 hov-cl10 trans-04 m-r-6">
					Home
				</a>

				<span>
					/ Products
				</span>
			</span>
		</div>
	</div>
</section>

<!-- Content page -->
<section class="bg0 p-t-85 p-b-45">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-4 col-lg-3 m-rl-auto p-b-50">
				<product-filter 
					#productFilter
					[products]="products" 
					(filter)="onFilter($event)"
				>
				</product-filter>
			</div>


			<div class="col-sm-10 col-md-8 col-lg-9 m-rl-auto p-b-50">
				<div class="catalog">
					<div class="flex-w flex-r-m p-b-45 flex-row-rev">
						<div class="flex-w flex-m p-tb-8">
							
							<div class="flex-w flex-m m-tb-7">
								<button class="dis-block lh-00 pos-relative how-icon1 m-r-15 js-show-list">
									<img class="icon-main trans-04" src="assets/images/icons/icon-menu-list.png" alt="ICON">
									<img class="ab-t-l icon-hov trans-04" src="assets/images/icons/icon-menu-list1.png" alt="ICON">
								</button>

								<button class="dis-block lh-00 pos-relative how-icon1 menu-active js-show-grid">
									<img class="icon-main trans-04" src="assets/images/icons/icon-grid.png" alt="ICON">
									<img class="ab-t-l icon-hov trans-04" src="assets/images/icons/icon-grid1.png" alt="ICON">
								</button>
							</div>
						</div>

						<span class="txt-s-101 cl9 m-r-30 size-w-53">
							Showing 1–12 of 23 results
						</span>
					</div>
					
					<!-- Shop grid -->
					<div class="shop-grid">
						<div class="row" *ngIf="shoppingCart$ | async as shoppingCart">

			
							<ng-container *ngFor="let p of filteredProducts; let i = index">
								
								<!-- - -->
								<div class="col-sm-6 col-lg-4 p-b-30">
									<!-- Product Card -->
									<product-card [product]="p" [cart]="shoppingCart"></product-card>
								</div>

							</ng-container>

						</div>
					</div>

					

					<!-- Pagination -->
					<div class="flex-w flex-c-m p-t-47">
						<a href="#" class="flex-c-m txt-s-115 cl6 size-a-23 bo-all-1 bocl15 hov-btn1 trans-04 m-all-3 active-pagi1">
							1
						</a>

						<a href="#" class="flex-c-m txt-s-115 cl6 size-a-23 bo-all-1 bocl15 hov-btn1 trans-04 m-all-3">
							2
						</a>

						<a href="#" class="flex-c-m txt-s-115 cl6 size-a-24 how-btn1 bo-all-1 bocl15 hov-btn1 trans-04 m-all-3 p-b-1">
							Next
							<span class="lnr lnr-chevron-right m-t-3 m-l-7"></span>
							<span class="lnr lnr-chevron-right m-t-3"></span>
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
