

button.block1-icon{
    width: 38px;
    color: white;
    font-size: 2rem;
    margin: 0;
}
.show-quantity{
    background: rgb(240,240,240);
    height: 100%;
    width: 70%;
    margin: auto;
    padding: 0 5px;
    line-height: 48px;
    border-radius: 3px;
}
