<!-- <div class="row">
	<div class="col-sm-10">
		<h1>Check Out</h1>
		<p>Enter Shipping Details for Checkout</p>
	</div>
</div>

<div class="row" *ngIf="cart$ | async as cart">
		
	<div class="col-sm-6">
		<shipping-form [cart]="cart"></shipping-form>
	</div>

	<div class="col-sm-6">
		<cart-summary [cart]="cart"></cart-summary>
	</div>

</div> -->

<!-- Title page -->
<section class="how-overlay2 bg-img1" style="background-image: url(assets/images/bg-07.jpg);">
	<div class="container">
		<div class="txt-center p-t-160 p-b-165">
			<h2 class="txt-l-101 cl0 txt-center p-b-14 respon1">
				Checkout
			</h2>

			<span class="txt-m-201 cl0 flex-c-m flex-w">
				<a href="index.html" class="txt-m-201 cl0 hov-cl10 trans-04 m-r-6">
					Home
				</a>

				<span>
					/ Checkout
				</span>
			</span>
		</div>
	</div>
</section>

<!-- content page -->
<div class="bg0 p-t-95 p-b-50">
	<div 
		class="container"
		*ngIf="cart$ | async as cart"
	>
		<!-- Login -->
		<div>
			<!-- <div class="txt-s-101 txt-center">
				<span class="cl3">
					Returning customer?
				</span>

				<span class="cl10 hov12 js-toggle-panel1">
					Click here to login
				</span>
			</div> -->

			<div class="how-bor3 p-rl-15 p-tb-28 m-tb-33 dis-none js-panel1">
				<form class="size-w-60 m-rl-auto">
					<p class="txt-s-120 cl9 txt-center p-b-26">
						If you have shopped with us before, please enter your details in the boxes below. If you are a new customer, please proceed to the Billing & Shipping section.
					</p>

					<div class="row">
						<div class="col-sm-6 p-b-20">
							<div>
								<div class="txt-s-101 cl6 p-b-10">
									Username or email <span class="cl12">*</span>
								</div>

								<input class="txt-s-120 cl3 size-a-21 bo-all-1 bocl15 p-rl-15 focus1" type="text" name="username">
							</div>
						</div>

						<div class="col-sm-6 p-b-20">
							<div>
								<div class="txt-s-101 cl6 p-b-10">
									Password <span class="cl12">*</span>
								</div>

								<input class="txt-s-120 cl3 size-a-21 bo-all-1 bocl15 p-rl-15 focus1" type="password" name="password">
							</div>
						</div>

						<div class="col-12">
							<button class="flex-c-m txt-s-105 cl0 bg10 size-a-21 hov-btn2 trans-04 p-rl-10">
								Login
							</button>

							<div class="flex-w flex-m p-t-10 p-b-3">
								<input id="check-creatacc" class="size-a-35 m-r-10" type="checkbox" name="creatacc">
								<label for="check-creatacc" class="txt-s-101 cl9">
									Create an account?
								</label>
							</div>

							<a href="#" class="txt-s-101 cl9 hov-cl10 trans-04">
								Lost your password?
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- enter code -->
		<div class="p-t-17 p-b-70">
			<div class="txt-s-101 txt-center">
				<span class="cl3">
					Have a coupon?
				</span>

				<span class="cl10 hov12 js-toggle-panel1">
					Click here to enter your code
				</span>
			</div>

			<div class="m-t-35 dis-none js-panel1">
				<div class="size-w-60 flex-w m-rl-auto">
					<input class="bo-all-1 bocl15 focus1 size-a-37 txt-s-120 cl3 plh2 p-rl-20 w-full-sm" type="text" name="coupon" placeholder="Coupon code">
					<button class="bg10 size-a-36 txt-s-105 cl0 p-rl-15 trans-04 hov-btn2 mt-4 mt-sm-0 w-full-sm">
						Apply coupon
					</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-7 col-lg-8 p-b-50">
				<shipping-form [cart]="cart"></shipping-form>
			</div>

			<div class="col-md-5 col-lg-4 p-b-50">
				<cart-summary [cart]="cart"></cart-summary>
			</div>
		</div>
	</div>
</div>